@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"] {
    position: relative;
    padding: 0.25rem 1.1rem 0.25rem 0.5rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-position: right;
    background-size: auto;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 4;
    top: 6;
    width: auto;
}

.listboxOpt {
    display: flex;
    cursor: default;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.375rem 0.75rem 0.375rem 1.5rem;
    user-select: none;
}

.listboxOpt:hover {
    background-color: rgba(255, 255, 255, 0.1);
}